<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <meta charset="UTF-8">
    <title>PAL New Account AutoMailer</title>
  </head>
  <body>
    <div class="mainpage-container">
        <img src="/PAL_BlueTexture-350w.png" />
        <div id="title">PAL New Account AutoMailer</div>
        <form method="post" action="/" id="main-form">
            <input type="text" id="account-number" name="accountNumber" placeholder="Account Number">
            <input type="text" id="provider-email" name="email" placeholder="Email">
            <input type="submit" id="submit-button" value="Submit">
        </form>
    </div>
  </body>
</html>